# Trail Recommendations

List everything that we need to do.

In [1]:
import Trailforks as tf
import TrailforksScraper as tfs
from bs4 import BeautifulSoup
import requests

## Getting data from Trailforks

- 'activitytype=6' for hiking
- Trailstyle = Popularity

Trailforks api documentation: https://www.trailforks.com/about/api/#!/trail

Trailforks popularity heatmap: https://www.trailforks.com/region/united-states/?activitytype=6&z=10.4&lat=48.30699&lon=-120.42421&trailstyle=popularity

Trailforks popularity scores (sorted in descending order): https://www.trailforks.com/region/united-states/trails/?sort=t.popularity_score&order=desc&difficulty=2,3,4,11,9,5,6,8&activitytype=6

In [ ]:
trailForksScrapper = tfs.trailforksScrapper()
trailForksScrapper.fetchTrailPopularityByName('rattlesnake-ledge-trail')

'\n100 in Trail Running '

In [ ]:
north_carolina = trailForksScrapper.fetchTrailsByRegionAndPages('north-carolina',23)
washington = trailForksScrapper.fetchTrailsByRegionAndPages('washington',72)
print(len(north_carolina))
print(len(washington))
washington.head()

2300
7200

,Unnamed: 0,title,Unnamed: 2,riding area,rating,distance,descent,climb,popularity_score
0,NaN,unknown,NaN,Swan Creek Park,NaN,49 ft,-4 ft,NaN,0
1,NaN,unknown,NaN,Grand Ridge Park,NaN,442 ft,-32 ft,NaN,0
2,NaN,unknown,NaN,Tolt MacDonald Park,NaN,49 ft,NaN,4 ft,0
3,NaN,Iron Peak #1399,NaN,Teanaway,NaN,3 miles,-519 ft,"2,203 ft",0
4,NaN,Frog Trail,NaN,Pilchuck Tree Farm,NaN,485 ft,-9 ft,52 ft,0

In [ ]:
north_carolina['title'] = north_carolina['title'].str.replace('\W', '-').str.lower()
washington['title'] = washington['title'].str.replace('\W', '-').str.lower()

/var/folders/7v/3vykhk5j10v0p4dt8gphqvyh0000gn/T/ipykernel_26644/3339383142.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  north_carolina['title'] = north_carolina['title'].str.replace('\W', '-').str.lower()
/var/folders/7v/3vykhk5j10v0p4dt8gphqvyh0000gn/T/ipykernel_26644/3339383142.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  washington['title'] = washington['title'].str.replace('\W', '-').str.lower()

In [ ]:
washington.head(100)

,Unnamed: 0,title,Unnamed: 2,riding area,rating,distance,descent,climb,popularity_score
0,NaN,unknown,NaN,Swan Creek Park,NaN,49 ft,-4 ft,NaN,0
1,NaN,unknown,NaN,Grand Ridge Park,NaN,442 ft,-32 ft,NaN,0
2,NaN,unknown,NaN,Tolt MacDonald Park,NaN,49 ft,NaN,4 ft,0
3,NaN,iron-peak--1399,NaN,Teanaway,NaN,3 miles,-519 ft,"2,203 ft",0
4,NaN,frog-trail,NaN,Pilchuck Tree Farm,NaN,485 ft,-9 ft,52 ft,0
...,...,...,...,...,...,...,...,...,...
95,NaN,dike-road,NaN,Everett,NaN,"3,471 ft",-2 ft,4 ft,0
96,NaN,everett-junction-trail,NaN,Forest Park,NaN,"2,717 ft",-280 ft,21 ft,0
97,NaN,trail,NaN,Forest Park,NaN,676 ft,NaN,31 ft,0
98,NaN,kelley-hollow-road,NaN,Yakima,NaN,5 miles,-86 ft,"2,098 ft",0
99,NaN,bell-telephone-road,NaN,Yakima,NaN,5 miles,-47 ft,"1,834 ft",0

In [ ]:
for trail in washington.head()['title']:
    print(trailForksScrapper.fetchTrailStats(trail))

Error occurred
substring not found
Empty DataFrame
Columns: []
Index: []
Error occurred
substring not found
Empty DataFrame
Columns: []
Index: []
Error occurred
substring not found
Empty DataFrame
Columns: []
Index: []
Error occurred
list index out of range
Empty DataFrame
Columns: []
Index: []
                    ['Year'   'Check-Ins'                ['Month'
0                   ['2013'            10                     NaN
1                   ['2014'             1                     NaN
2                   ['2015'            20                     NaN
3                   ['2016'            36                     NaN
4                   ['2017'            38                     NaN
5                   ['2018'            88                     NaN
6                   ['2019'           153                     NaN
7                   ['2020'           114                     NaN
8                   ['2021'           151                     NaN
9                   ['2022'            82                     NaN
0                       NaN            39                  ['Jan'
1                       NaN            33                  ['Feb'
2                       NaN            68                  ['Mar'
3                       NaN            52                  ['Apr'
4                       NaN            80                  ['May'
5                       NaN            72                  ['Jun'
6                       NaN            72                  ['Jul'
7                       NaN            52                  ['Aug'
8                       NaN            73                  ['Sep'
9                       NaN            72                  ['Oct'
10                      NaN            45                  ['Nov'
11                      NaN            35                  ['Dec'

In [ ]:
trailForksScrapper.fetchTrailStats('kelley-hollow-road')
trailForksScrapper.fetchTrailStats('rattlesnake-ledge-trail')

Error occurred
list index out of range

                    ['Year'   'Check-Ins'                ['Month'
0                   ['2014'             1                     NaN
1                   ['2017'             2                     NaN
2                   ['2018'             1                     NaN
3                   ['2020'             4                     NaN
4                   ['2021'           228                     NaN
5                   ['2022'           251                     NaN
0                       NaN            20                  ['Jan'
1                       NaN            25                  ['Feb'
2                       NaN            22                  ['Mar'
3                       NaN            54                  ['Apr'
4                       NaN            57                  ['May'
5                       NaN            57                  ['Jun'
6                       NaN            68                  ['Jul'
7                       NaN            58                  ['Aug'
8                       NaN            49                  ['Sep'
9                       NaN            31                  ['Oct'
10                      NaN            30                  ['Nov'
11                      NaN            16                  ['Dec'